@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-size: 1rem;
}

html {
  font-size: 14px;
}

i {
  color: #c7165c;
}

a {
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  color: #c7165c;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

.header {
  background-color: #1E1B1C;
}
.header .top_header {
  background-color: #0C0C0F;
  color: aliceblue;
}
@media (max-width: 425px) {
  .header .top_header {
    display: none;
  }
}
.header .top_header_container {
  padding: 0.8rem 0;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header .top_header_container span {
  margin-right: 1rem;
}
.header .top_header_container i {
  margin-right: 0.3rem;
}
.header .top_header_container a {
  color: aliceblue;
}
.header .main_header_container {
  padding: 1.3rem 0;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .header .main_header_container {
    flex-direction: column;
    align-items: center;
  }
}
.header .main_header_container a, .header .main_header_container span, .header .main_header_container i {
  color: aliceblue;
}
.header .main_header_container #brand {
  font-weight: 900;
  font-size: 3rem;
}
.header .main_header_container #brand i {
  color: #c7165c;
  font-size: 2rem;
}
.header .main_header_container #search_form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}
@media (max-width: 425px) {
  .header .main_header_container #search_form {
    width: 100%;
    margin: 2rem 0;
  }
}
.header .main_header_container #search_form input {
  height: 40px;
}
.header .main_header_container #search_form #search {
  width: 60%;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 25px;
}
.header .main_header_container .header_actions_menu {
  display: flex;
  align-items: center;
}
.header .main_header_container .header_actions_menu .wish_list, .header .main_header_container .header_actions_menu .header_cart {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 2.5rem;
}
.header .main_header_container .header_actions_menu .wish_list .qty, .header .main_header_container .header_actions_menu .header_cart .qty {
  position: absolute;
  top: -10px;
  right: 2px;
  background-color: #c7165c;
  width: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .main_header_container .header_actions_menu .wish_list i, .header .main_header_container .header_actions_menu .header_cart i {
  margin-bottom: 0.2rem;
}
.header .main_header_container .header_actions_menu .wish_list i:hover, .header .main_header_container .header_actions_menu .header_cart i:hover {
  color: #c7165c;
}
@media (max-width: 425px) {
  .header .main_header_container .header_actions_menu .wish_list, .header .main_header_container .header_actions_menu .header_cart {
    margin: 1rem;
  }
}
.header .bottom_header {
  background-color: aliceblue;
  border-bottom: 2px solid #EAE7E8;
  border-top: 3px solid #c7165c;
}
.header .bottom_header ul {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  justify-content: left;
  padding: 1rem 0;
}
@media (max-width: 425px) {
  .header .bottom_header ul {
    display: none;
  }
}
.header .bottom_header ul li {
  margin-right: 1.3rem;
}
.header .bottom_header ul li a {
  color: #383993;
  border-bottom: 2px solid transparent;
}
.header .bottom_header ul li a:hover {
  color: #c7165c;
  border-color: #c7165c;
}

.banners {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}
@media (max-width: 425px) {
  .banners {
    flex-direction: column;
    align-items: center;
  }
}

.products_grid {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem 0;
}
.products_grid h2 {
  font-size: 2rem;
  text-transform: uppercase;
}
@media (max-width: 425px) {
  .products_grid h2 {
    text-align: center;
  }
}
.products_grid_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;
}
@media (max-width: 425px) {
  .products_grid_container {
    flex-direction: column;
    align-items: center;
  }
}

.deal_container {
  background-image: url("../ASSETS/IMG/deal_headset.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 2rem;
  background-size: 20%;
  background-color: #EAE7E8;
  height: 400px;
  padding: 2rem;
}
@media (max-width: 425px) {
  .deal_container {
    background-size: 80%;
    background-position-y: 130%;
    background-position-x: 120%;
    height: 700px;
  }
}
.deal_container_content {
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .deal_container_content {
    text-align: center;
  }
}
.deal_container_content_timer {
  display: flex;
  margin-bottom: 2rem;
}
@media (max-width: 425px) {
  .deal_container_content_timer {
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
  }
}
.deal_container_content .deal_container_timer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c7165c;
  color: aliceblue;
  margin: 0 1rem;
}
@media (max-width: 425px) {
  .deal_container_content .deal_container_timer {
    margin-bottom: 1.5rem;
  }
}
.deal_container_content .deal_container_timer_time {
  font-weight: bold;
  font-size: 1.5rem;
}
.deal_container_content_title, .deal_container_content_subtitle {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 2rem;
}
.deal_container_content_subtitle {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.newsLetter_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-top: 2px solid #EAE7E8;
}
@media (max-width: 425px) {
  .newsLetter_container {
    text-align: center;
  }
}
.newsLetter_container h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
}
.newsLetter_container h2 span {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.newsLetter_container form {
  display: flex;
  margin-bottom: 3rem;
}
@media (max-width: 425px) {
  .newsLetter_container form {
    width: 100%;
  }
}
.newsLetter_container form input[type=email] {
  border: 1px solid #EAE7E8;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 25px;
}
@media (max-width: 425px) {
  .newsLetter_container form input[type=email] {
    width: 100%;
  }
}
.newsLetter_container .social_media i {
  padding: 12px;
  margin: 5px;
  border: 1px solid #EAE7E8;
  cursor: pointer;
  color: #333;
  transition: 0.4s;
}
.newsLetter_container .social_media i:hover {
  color: #c7165c;
  background-color: #EAE7E8;
}

.footer {
  background-color: #1E1B1C;
  padding: 3rem 0;
}
@media (max-width: 425px) {
  .footer {
    padding: 3rem;
  }
}
.footer a, .footer p {
  color: #D1CBCE;
}
.footer li, .footer p {
  margin-bottom: 1rem;
}
.footer li a:hover, .footer p a:hover {
  color: #c7165c;
}
.footer i {
  margin-right: 0.3rem;
}
.footer h3 {
  color: aliceblue;
  text-transform: uppercase;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}
.footer_top {
  padding-bottom: 3rem;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .footer_top {
    flex-direction: column;
  }
}
.footer_top_about, .footer_top_categories, .footer_top_information, .footer_top_menu {
  max-width: 25%;
}
@media (max-width: 425px) {
  .footer_top_about, .footer_top_categories, .footer_top_information, .footer_top_menu {
    max-width: 100%;
    margin-bottom: 1rem;
  }
}
.footer_bottom {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer_bottom_payments {
  margin-bottom: 2rem;
}
.footer_bottom_payments i {
  color: #333;
  cursor: pointer;
  font-size: 3rem;
  margin: 5px;
  transition: 0.4s;
}
.footer_bottom_payments i:hover {
  color: #c7165c;
}

.btn {
  padding: 8px 15px;
  height: 40px;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #c7165c;
  cursor: pointer;
  outline: none;
  border: 2px solid #c7165c;
  transition: 0.4s;
}
.btn:hover {
  background-color: aliceblue;
  color: #c7165c;
}
.btn_half {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-transform: none;
}

.banner {
  width: 30%;
  height: 200px;
  position: relative;
  color: aliceblue;
  transition: 0.4s;
  background-position: center;
  background-size: cover;
  background-size: 100%;
}
@media (max-width: 425px) {
  .banner {
    width: 90%;
    margin: 1rem;
  }
}
.banner:hover {
  background-size: 120%;
}
.banner_cover {
  background-color: #c7165c;
  width: 70%;
  height: 100%;
  opacity: 0.8;
  border-bottom-right-radius: 6rem;
  width: 90%;
  opacity: 0.7;
}
.banner_content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
}
.banner_content h2 {
  font-size: 2.1rem;
  margin-bottom: 1rem;
  max-width: 70%;
  line-height: 2.5rem;
}
.banner_content a {
  font-size: 1.5rem;
  color: aliceblue;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.banner_content i {
  color: aliceblue;
  margin-left: 0.8rem;
  margin-top: 0.1rem;
}

#banner_1 {
  background-image: url("../ASSETS/IMG/banner-1.jpg");
}

#banner_2 {
  background-image: url("../ASSETS/IMG/banner-2.jpg");
}

#banner_3 {
  background-image: url("../ASSETS/IMG/banner-3.jpg");
}

.products_grid_card {
  border: 1px solid #D1CBCE;
  position: relative;
  width: 20%;
  padding: 1rem;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 1rem;
}
.products_grid_card:hover {
  border-color: #c7165c;
}
.products_grid_card .label {
  text-transform: uppercase;
  border: 1px solid #c7165c;
  color: #c7165c;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 2px 6px;
}
.products_grid_card .new {
  background-color: #c7165c;
  color: aliceblue;
}
.products_grid_card img {
  width: 100%;
}
.products_grid_card .category, .products_grid_card .product_name, .products_grid_card .product_price, .products_grid_card .rating_box, .products_grid_card .btn {
  margin-bottom: 1rem;
}
.products_grid_card .category {
  margin-top: 1rem;
  text-transform: uppercase;
  color: #D1CBCE;
}
.products_grid_card .product_name {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.products_grid_card .product_price {
  color: #c7165c;
  font-size: 1.5rem;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
